NODE_ENV=development
JWT_SECRET=changeme

RABBITMQ_URL=amqp://dentia:dentia123@rabbitmq:5672
RABBITMQ_QUEUE_APPOINTMENTS=appointments_events

PORT=3004
MONGODB_URI=mongodb://chat-mongo:27017/dentia_chat
APPOINTMENTS_SERVICE_URL=http://appointments-service:3002
INTERNAL_API_KEY=dev-internal-key